<h3>Editing combat</h3>
<br>
<%= render "form",combat: @combat, method: :put%>

<br>

<div>
  <%= link_to "Show this combat", @combat,class: "btn btn-secondary" %> |
  <%= link_to "Back to combats", combats_path,class: "btn btn-secondary" %>
</div>
