<h1>Editing combatant</h1>

<%= render "form", combatant: @combatant %>

<br>

<div>
  <%= link_to "Show this combatant", @combatant %> |
  <%= link_to "Back to combatants", combatants_path %>
</div>
